torch==2.3.0

click==8.1
# glfw==3.4
imageio-ffmpeg==0.5
imageio==2.34
munch==4.0
numpy==1.26.4
opencv-python==4.9.0.80
pandas==2.2
pillow==10.3
plyfile==1.0
pydantic==2.8
pyopengl==3.1
requests==2.31
scipy==1.13
tqdm==4.66
imgui_bundle==1.5.2
imgui==2.0.0
scikit-image==0.24
imagecodecs[all]==2024.6.1
ninja
pynvml
GPUtil
pyyaml

gaussian-splatting/submodules/diff-gaussian-rasterization
gaussian-splatting/submodules/simple-knn